.wrap {
  position: relative;
  & input {
    width: 320px;
    border: none;
    outline: none;
    background-color: #f5f3f0;
    padding: 5px 8px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f5f3f0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
}
.menuLink {
  width: 320px;
  white-space: nowrap;
  padding: 6px;
  color: #666;
  text-decoration: none;
  &:hover {
    background-color: #80241e;
    color: white;
  }
}
@media (max-width: 900px) {
  .wrap {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
